In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [4]:
df = pd.read_csv ('https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIM/DO23OPEN.csv', encoding='latin1', sep=';')

C:\Users\lenovo\AppData\Local\Temp\ipykernel_780\2377961718.py:1: DtypeWarning: Columns (65) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv ('https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIM/DO23OPEN.csv', encoding='latin1', sep=';')

In [5]:
display(df)

,contador,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,...,TPRESGINFO,TPNIVELINV,DTCADINF,MORTEPARTO,DTCONCASO,ALTCAUSA,CAUSABAS_O,TPPOS,TP_ALTERA,CB_ALT
0,1,1,2,14022023,930.0,833.0,330270.0,10071954.0,468,1,...,NaN,NaN,NaN,NaN,NaN,NaN,I10,NaN,NaN,NaN
1,2,1,2,14022023,1730.0,822.0,221110.0,12091956.0,466,1,...,NaN,NaN,NaN,NaN,NaN,NaN,I678,NaN,NaN,NaN
2,3,1,2,14022023,500.0,822.0,220790.0,10011953.0,470,2,...,NaN,NaN,NaN,NaN,NaN,NaN,K750,NaN,NaN,NaN
3,4,1,2,14022023,2235.0,823.0,231180.0,15121943.0,479,2,...,NaN,NaN,NaN,NaN,NaN,NaN,I64,S,NaN,NaN
4,5,1,2,14022023,940.0,841.0,411350.0,9041973.0,449,2,...,NaN,M,NaN,NaN,NaN,NaN,C189,S,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465605,1465606,1,2,30112023,2100.0,816.0,160050.0,1042023.0,307,1,...,NaN,NaN,10062024.0,3.0,26052024.0,2.0,NaN,NaN,NaN,NaN
1465606,1465607,1,2,12122023,1220.0,815.0,150060.0,23101987.0,436,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1465607,1465608,1,2,22122023,1734.0,815.0,150060.0,5112023.0,301,1,...,NaN,NaN,15042024.0,3.0,20032024.0,1.0,NaN,NaN,NaN,NaN
1465608,1465609,1,2,22122023,2030.0,813.0,130140.0,1012008.0,415,2,...,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1465609,1465610,1,2,31122023,NaN,851.0,510385.0,17122023.0,214,2,...,NaN,NaN,26042024.0,3.0,4022024.0,2.0,NaN,NaN,NaN,NaN

In [6]:
df.describe

<bound method NDFrame.describe of          contador  ORIGEM  TIPOBITO   DTOBITO  HORAOBITO  NATURAL  CODMUNNATU  \
0               1       1         2  14022023      930.0    833.0    330270.0
1               2       1         2  14022023     1730.0    822.0    221110.0
2               3       1         2  14022023      500.0    822.0    220790.0
3               4       1         2  14022023     2235.0    823.0    231180.0
4               5       1         2  14022023      940.0    841.0    411350.0
...           ...     ...       ...       ...        ...      ...         ...
1465605   1465606       1         2  30112023     2100.0    816.0    160050.0
1465606   1465607       1         2  12122023     1220.0    815.0    150060.0
1465607   1465608       1         2  22122023     1734.0    815.0    150060.0
1465608   1465609       1         2  22122023     2030.0    813.0    130140.0
1465609   1465610       1         2  31122023        NaN    851.0    510385.0

             DTNASC  IDADE  SEXO  ...  TPRESGINFO  TPNIVELINV    DTCADINF  \
0        10071954.0    468     1  ...         NaN         NaN         NaN
1        12091956.0    466     1  ...         NaN         NaN         NaN
2        10011953.0    470     2  ...         NaN         NaN         NaN
3        15121943.0    479     2  ...         NaN         NaN         NaN
4         9041973.0    449     2  ...         NaN           M         NaN
...             ...    ...   ...  ...         ...         ...         ...
1465605   1042023.0    307     1  ...         NaN         NaN  10062024.0
1465606  23101987.0    436     1  ...         NaN         NaN         NaN
1465607   5112023.0    301     1  ...         NaN         NaN  15042024.0
1465608   1012008.0    415     2  ...         NaN           E         NaN
1465609  17122023.0    214     2  ...         NaN         NaN  26042024.0

         MORTEPARTO   DTCONCASO  ALTCAUSA  CAUSABAS_O  TPPOS  TP_ALTERA  \
0               NaN         NaN       NaN         I10    NaN        NaN
1               NaN         NaN       NaN        I678    NaN        NaN
2               NaN         NaN       NaN        K750    NaN        NaN
3               NaN         NaN       NaN         I64      S        NaN
4               NaN         NaN       NaN        C189      S        NaN
...             ...         ...       ...         ...    ...        ...
1465605         3.0  26052024.0       2.0         NaN    NaN        NaN
1465606         NaN         NaN       NaN         NaN    NaN        NaN
1465607         3.0  20032024.0       1.0         NaN    NaN        NaN
1465608         NaN         NaN       NaN         NaN    NaN        NaN
1465609         3.0   4022024.0       2.0         NaN    NaN        NaN

         CB_ALT
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
1465605     NaN
1465606     NaN
1465607     NaN
1465608     NaN
1465609     NaN

[1465610 rows x 86 columns]>

In [ ]:
print(f'Formato dos dados {df.shape}')
print(f'\nTipos das Variaveis:\n {df.dtypes}')
print(f'\nPrimeiras 5 linhas:\n{df.head}')
print(f'\nvalores Ausentes:\n {df.isnull().sum}')

Formato dos dados (1465610, 86)

Tipos das Variaveis:
 contador        int64
ORIGEM          int64
TIPOBITO        int64
DTOBITO         int64
HORAOBITO     float64
               ...
ALTCAUSA      float64
CAUSABAS_O     object
TPPOS          object
TP_ALTERA     float64
CB_ALT         object
Length: 86, dtype: object

Primeiras 5 linhas:
<bound method NDFrame.head of          contador  ORIGEM  TIPOBITO   DTOBITO  HORAOBITO  NATURAL  CODMUNNATU  \
0               1       1         2  14022023      930.0    833.0    330270.0
1               2       1         2  14022023     1730.0    822.0    221110.0
2               3       1         2  14022023      500.0    822.0    220790.0
3               4       1         2  14022023     2235.0    823.0    231180.0
4               5       1         2  14022023      940.0    841.0    411350.0
...           ...     ...       ...       ...        ...      ...         ...
1465605   1465606       1         2  30112023     2100.0    816.0    160050.0
1465606   1465607       1         2  12122023     1220.0    815.0    150060.0
1465607   1465608       1         2  22122023     1734.0    815.0    150060.0
1465608   1465609       1         2  22122023     2030.0    813.0    130140.0
1465609   1465610       1         2  31122023        NaN    851.0    510385.0

             DTNASC  IDADE  SEXO  ...  TPRESGINFO  TPNIVELINV    DTCADINF  \
0        10071954.0    468     1  ...         NaN         NaN         NaN
1        12091956.0    466     1  ...         NaN         NaN         NaN
2        10011953.0    470     2  ...         NaN         NaN         NaN
3        15121943.0    479     2  ...         NaN         NaN         NaN
4         9041973.0    449     2  ...         NaN           M         NaN
...             ...    ...   ...  ...         ...         ...         ...
1465605   1042023.0    307     1  ...         NaN         NaN  10062024.0
1465606  23101987.0    436     1  ...         NaN         NaN         NaN
1465607   5112023.0    301     1  ...         NaN         NaN  15042024.0
1465608   1012008.0    415     2  ...         NaN           E         NaN
1465609  17122023.0    214     2  ...         NaN         NaN  26042024.0

         MORTEPARTO   DTCONCASO  ALTCAUSA  CAUSABAS_O  TPPOS  TP_ALTERA  \
0               NaN         NaN       NaN         I10    NaN        NaN
1               NaN         NaN       NaN        I678    NaN        NaN
2               NaN         NaN       NaN        K750    NaN        NaN
3               NaN         NaN       NaN         I64      S        NaN
4               NaN         NaN       NaN        C189      S        NaN
...             ...         ...       ...         ...    ...        ...
1465605         3.0  26052024.0       2.0         NaN    NaN        NaN
1465606         NaN         NaN       NaN         NaN    NaN        NaN
1465607         3.0  20032024.0       1.0         NaN    NaN        NaN
1465608         NaN         NaN       NaN         NaN    NaN        NaN
1465609         3.0   4022024.0       2.0         NaN    NaN        NaN

         CB_ALT
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
1465605     NaN
1465606     NaN
1465607     NaN
1465608     NaN
1465609     NaN

[1465610 rows x 86 columns]>

valores Ausentes:
 contador            0
ORIGEM              0
TIPOBITO            0
DTOBITO             0
HORAOBITO       49218
               ...
ALTCAUSA      1436759
CAUSABAS_O       1037
TPPOS          517975
TP_ALTERA     1460449
CB_ALT        1460869
Length: 86, dtype: int64

In [ ]:
'''
cols_num são as colunas numericas do dataset, sendo o passado por dentro o indice/nome das colunas das desejadas
já as cols_cat são as colunas categoricas, e faz o mesmo precesso de busca
'''
cols_num = ['IDADE', 'PESO_NASC','QTDE_EMB']
cols_cat = ['RACACOR', 'ESTCIVIL', 'ESC', 'OCUP', 'CAUSABAS', 'LOCOCOR']

In [ ]:
'''
o im_num passa a função de simple imputer chamando a mediana
no im_cat passa a função do mais frequente, ou moda
essas escolhas foram feitas por conta do primeiro ser um numerico e poder realizar a mediana
enquanto quando é texto não se torna possivel realizar isso, então passa o que mais apareceu
'''
im_num = SimpleImputer(strategy='median')
im_cat = SimpleImputer(strategy='most_frequent')

In [ ]:
for col in cols_num:
    if col in df.columns:
        df[col] = im_num.fit_transform(df[[col]])

0          468.0
1          466.0
2          470.0
3          479.0
4          449.0
           ...
1465605    307.0
1465606    436.0
1465607    301.0
1465608    415.0
1465609    214.0
Name: IDADE, Length: 1465610, dtype: float64

In [12]:
cols_cat_to_encode = ['RACACOR', 'ESC', 'OCUP', 'CAUSABAS']
enc = OneHotEncoder(handle_unknown='ignore', sparse_output='False')

In [13]:
df_processed = pd.concat([df.drop(columns=cols_cat_to_encode).reset_index(drop='True')], axis=1)

In [14]:
cols_num_to_escale = ['IDADE']
scaler = StandardScaler()

In [15]:
df_processed[cols_num_to_escale] = scaler.fit_transform(df_processed[cols_num_to_escale])

In [16]:
x = df_processed.drop(columns=['ORIGEM', 'TIPOBITO', 'SEXO'])
y = df_processed['SEXO']

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [18]:
print(f'\nTamanho do Conjunto de Treino: {x_train.shape}')
print(f'Tamanho do Conjunto de Teste: {x_test.shape}')

Tamanho do Conjunto de Treino: (1025927, 79)
Tamanho do Conjunto de Teste: (439683, 79)

In [22]:
print('\n20 primeiros registros de x_train (caracteristicas de treino)')
print(x_train.head(20))

20 primeiros registros de x_train (caracteristicas de treino)
         contador   DTOBITO  HORAOBITO  NATURAL  CODMUNNATU      DTNASC  \
985644     985645   2092023     1235.0    831.0    310620.0  25071966.0
620810     620811   7062023     1532.0    823.0    230930.0  16091980.0
137573     137574   6022023       10.0    835.0    351200.0  29071947.0
726529     726530   1072023     1030.0    841.0    412220.0  25101932.0
405508     405509  16042023     2144.0    835.0    353140.0   8081948.0
750795     750796   7072023     2133.0    826.0    260350.0   9051988.0
630831     630832   9062023     1910.0    831.0    311710.0  17051938.0
1350638   1350639   2122023      535.0    835.0    351090.0   1041923.0
59398       59399  16012023     2323.0    831.0    312360.0   6021938.0
996459     996460   5092023     2158.0      NaN         NaN  15021950.0
767744     767745  11072023      200.0    831.0    317020.0  18111935.0
309782     309783  23032023      130.0    823.0    231180.0  27061930.0
1417476   1417477  19122023     1427.0      NaN         NaN  27081959.0
362182     362183   5042023     2300.0    826.0    260610.0   7031955.0
984722     984723   2092023     1128.0    835.0    352710.0   5051934.0
982511     982512   1092023     1530.0    843.0    430330.0  23031960.0
440832     440833  25042023      325.0    829.0    291170.0  16051944.0
326252     326253  27032023      444.0    852.0    521760.0  26061952.0
502257     502258  10052023     1130.0    823.0    231400.0  10101967.0
431603     431604  23042023      616.0    821.0    210270.0  14021964.0

            IDADE  ESTCIV  ESC2010  SERIESCFAL  ...  TPRESGINFO  TPNIVELINV  \
985644  -0.125073     1.0      0.0         NaN  ...         NaN         NaN
620810  -0.435294     2.0      2.0         NaN  ...         NaN           M
137573   0.247191     9.0      9.0         NaN  ...         NaN         NaN
726529   0.557412     3.0      1.0         4.0  ...         NaN         NaN
405508   0.226510     1.0      5.0         NaN  ...         NaN         NaN
750795  -0.580064     1.0      1.0         NaN  ...         NaN           M
630831   0.454005     1.0      0.0         NaN  ...         NaN         NaN
1350638  0.764226     2.0      1.0         2.0  ...         NaN         NaN
59398    0.433324     3.0      1.0         2.0  ...         NaN         NaN
996459   0.205829     1.0      3.0         NaN  ...         NaN         NaN
767744   0.495368     3.0      1.0         3.0  ...         NaN         NaN
309782   0.598775     3.0      0.0         NaN  ...         NaN         NaN
1417476  0.019696     3.0      3.0         NaN  ...         NaN         NaN
362182   0.102422     2.0      2.0         NaN  ...         NaN         NaN
984722   0.536731     3.0      1.0         4.0  ...         NaN         NaN
982511  -0.000985     2.0      3.0         NaN  ...         NaN         NaN
440832   0.309236     1.0      0.0         NaN  ...         NaN         NaN
326252   0.143785     2.0      5.0         NaN  ...         NaN         NaN
502257  -0.166436     1.0      0.0         NaN  ...         NaN         NaN
431603  -0.083711     4.0      3.0         NaN  ...         NaN         NaN

         DTCADINF  MORTEPARTO  DTCONCASO  ALTCAUSA  CAUSABAS_O  TPPOS  \
985644        NaN         NaN        NaN       NaN        C349      N
620810        NaN         NaN        NaN       NaN        I619      N
137573        NaN         NaN        NaN       NaN         J81      N
726529        NaN         NaN        NaN       NaN        I110      N
405508        NaN         NaN        NaN       NaN        A418      N
750795        NaN         NaN        NaN       NaN        A270    NaN
630831        NaN         NaN        NaN       NaN        E142      N
1350638       NaN         NaN        NaN       NaN        J690      N
59398         NaN         NaN        NaN       NaN        B342    NaN
996459        NaN         NaN        NaN       NaN        N390      N
767744        NaN         NaN        NaN       NaN        I678    NaN
309782        NaN         NaN        NaN       NaN        G309      S
1417476       NaN         NaN        NaN       NaN        N189    NaN
362182        NaN         NaN        NaN       NaN        J181      N
984722        NaN         NaN        NaN       NaN        E149      N
982511        NaN         NaN        NaN       NaN        I718      N
440832        NaN         NaN        NaN       NaN        I219    NaN
326252        NaN         NaN        NaN       NaN        G309      N
502257        NaN         NaN        NaN       NaN        I219      S
431603        NaN         NaN        NaN       NaN        J189    NaN

         TP_ALTERA  CB_ALT
985644         NaN     NaN
620810         NaN     NaN
137573         NaN     NaN
726529         NaN     NaN
405508         NaN     NaN
750795         NaN     NaN
630831         NaN     NaN
1350638        NaN     NaN
59398          NaN     NaN
996459         NaN     NaN
767744         NaN     NaN
309782         NaN     NaN
1417476        NaN     NaN
362182         NaN     NaN
984722         NaN     NaN
982511         NaN     NaN
440832         NaN     NaN
326252         NaN     NaN
502257         NaN     NaN
431603         NaN     NaN

[20 rows x 79 columns]

In [20]:
print(f'\n20 primeiros registros de y_train (rotulos de treino)')
print(y_train.head(20))

20 primeiros registros de y_train (rotulos de treino)
985644     2
620810     2
137573     1
726529     1
405508     2
750795     2
630831     1
1350638    1
59398      2
996459     2
767744     2
309782     2
1417476    2
362182     1
984722     2
982511     2
440832     1
326252     2
502257     1
431603     1
Name: SEXO, dtype: int64

In [21]:
print(f'\n20 primeiros registros de x_test (caracteristicas do teste)')
print(x_test.head(20))

20 primeiros registros de x_test (caracteristicas do teste)
         contador   DTOBITO  HORAOBITO  NATURAL  CODMUNNATU      DTNASC  \
44622       44623  12012023     1310.0    822.0    221100.0  10081998.0
387085     387086  12042023      939.0    822.0    220820.0  15031959.0
235197     235198   4032023     1551.0      NaN         NaN  20081963.0
407214     407215  16042023      500.0    831.0    316010.0  18111987.0
490581     490582   7052023     1856.0    843.0    431500.0  31101954.0
729820     729821   2072023      922.0    835.0    355220.0  15031945.0
762105     762106   9072023     1400.0    842.0    420840.0  20051950.0
1239191   1239192   5112023     1830.0    822.0    220050.0  10101921.0
1340371   1340372  30112023     2323.0    841.0    411330.0   3031968.0
509650     509651  11052023     2000.0    831.0    312570.0   6061943.0
484301     484302   5052023     2252.0    829.0    293290.0  24071929.0
79453       79454  21012023     1000.0    825.0    250750.0  17011952.0
463397     463398  30042023     1211.0    829.0    293060.0   8021971.0
460543     460544  30042023      640.0    852.0    521405.0  22111975.0
539971     539972  19052023      326.0    829.0    293120.0  20091961.0
1282077   1282078  16112023     1400.0    823.0    230940.0  19061942.0
317009     317010  25032023     1100.0    829.0    291800.0  10111947.0
231313     231314   3032023      110.0      NaN         NaN  12101952.0
1397855   1397856  14122023      140.0    831.0    311520.0   7021954.0
1408223   1408224  17122023      224.0    831.0    310190.0  15061936.0

            IDADE  ESTCIV  ESC2010  SERIESCFAL  ...  TPRESGINFO  TPNIVELINV  \
44622   -0.807559     1.0      4.0         NaN  ...         NaN           M
387085   0.019696     2.0      1.0         4.0  ...         NaN         NaN
235197  -0.083711     2.0      3.0         3.0  ...         NaN         NaN
407214  -0.580064     2.0      5.0         NaN  ...         NaN           M
490581   0.102422     3.0      2.0         8.0  ...         NaN         NaN
729820   0.309236     2.0      3.0         3.0  ...         NaN         NaN
762105   0.205829     2.0      1.0         4.0  ...         NaN         NaN
1239191  0.805589     1.0      1.0         NaN  ...         NaN         NaN
1340371 -0.166436     3.0      9.0         NaN  ...         NaN         NaN
509650   0.329917     3.0      1.0         NaN  ...         NaN         NaN
484301   0.619456     3.0      1.0         NaN  ...         NaN         NaN
79453    0.164466     5.0      9.0         NaN  ...         NaN         NaN
463397  -0.228480     2.0      1.0         NaN  ...         NaN         NaN
460543  -0.331887     1.0      1.0         NaN  ...         NaN         NaN
539971  -0.042348     2.0      3.0         3.0  ...         NaN         NaN
1282077  0.371280     3.0      0.0         NaN  ...         NaN         NaN
317009   0.247191     1.0      0.0         NaN  ...         NaN         NaN
231313   0.143785     2.0      0.0         NaN  ...         NaN         NaN
1397855  0.123103     2.0      1.0         NaN  ...         NaN         NaN
1408223  0.495368     3.0      0.0         NaN  ...         NaN         NaN

         DTCADINF  MORTEPARTO  DTCONCASO  ALTCAUSA  CAUSABAS_O  TPPOS  \
44622         NaN         NaN        NaN       NaN         R96      S
387085        NaN         NaN        NaN       NaN        E142      N
235197        NaN         NaN        NaN       NaN        J189      N
407214        NaN         NaN        NaN       NaN        W194      S
490581        NaN         NaN        NaN       NaN        K319      N
729820        NaN         NaN        NaN       NaN        C169      N
762105        NaN         NaN        NaN       NaN        J440      N
1239191       NaN         NaN        NaN       NaN         C61      N
1340371       NaN         NaN        NaN       NaN        C169      N
509650        NaN         NaN        NaN       NaN         R99    NaN
484301        NaN         NaN        NaN       NaN        D649    NaN
79453         NaN         NaN        NaN       NaN        I219    NaN
463397        NaN         NaN        NaN       NaN        I219      N
460543        NaN         NaN        NaN       NaN        F102      N
539971        NaN         NaN        NaN       NaN        I501    NaN
1282077       NaN         NaN        NaN       NaN        X700    NaN
317009        NaN         NaN        NaN       NaN         I10      N
231313        NaN         NaN        NaN       NaN        J841      N
1397855       NaN         NaN        NaN       NaN        I219    NaN
1408223       NaN         NaN        NaN       NaN         I64      N

         TP_ALTERA  CB_ALT
44622          NaN     NaN
387085         NaN     NaN
235197         NaN     NaN
407214         NaN     NaN
490581         NaN     NaN
729820         NaN     NaN
762105         NaN     NaN
1239191        NaN     NaN
1340371        NaN     NaN
509650         NaN     NaN
484301         NaN     NaN
79453          NaN     NaN
463397         NaN     NaN
460543         NaN     NaN
539971         NaN     NaN
1282077        NaN     NaN
317009         NaN     NaN
231313         NaN     NaN
1397855        NaN     NaN
1408223        NaN     NaN

[20 rows x 79 columns]

In [23]:
print(f'\n20 primeiros registros de y_test (rotulos de teste)')
print(y_test.head(20))

20 primeiros registros de y_test (rotulos de teste)
44622      2
387085     1
235197     1
407214     2
490581     2
729820     2
762105     2
1239191    1
1340371    1
509650     2
484301     2
79453      1
463397     1
460543     1
539971     2
1282077    1
317009     2
231313     1
1397855    2
1408223    2
Name: SEXO, dtype: int64